body {
    background-color: rgb(212, 212, 64); /* Light olive background */
    text-align: center;
    padding: 20px;
}

h1, h2, footer {
    color: rgb(140, 84, 55); /* Brownish text color */
}

main {
    color: rgb(116, 144, 152); /* Steel blue text color */
    font-size: 32px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    font-size: 30px;
    color: rgb(139, 70, 58); /* Dark salmon text color for navigation links */
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(0, 0, 0); /* Black text color on hover */
}

#introductionPage {
    background-color: rgb(212, 212, 64); /* Light olive background */
    padding: 10px;
}

#introductionPage h1, #introductionPage h2, #introductionPage footer {
    color: rgb(140, 84, 55); /* Brownish text color */
}

#introductionPage main {
    color: rgb(116, 144, 152); /* Steel blue text color */
    font-size: 32px;
    text-align: left;
}

figcaption {
    color: rgb(140, 84, 55); /* Brownish text color for fig-caption */
}

hr + i {
    display: block;
    text-align: center;
}
