body {
    background-color: rgb(136, 136, 0);
    text-align: center;
    padding: 20px;
}

h1, h2, footer {
    color: rgb(204, 102, 0);
}

main {
    color: rgb(255, 204, 153);
    font-size: 32px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    font-size: 30px;
    color: rgb(102, 102, 0);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
}

#introductionPage {
    background-color: rgb(136, 136, 0);
    padding: 10px;
}

#introductionPage h1, #introductionPage h2, #introductionPage footer {
    color: rgb(204, 102, 0);
}

#introductionPage main {
    color: rgb(255, 204, 153);
    font-size: 32px;
    text-align: left;
}

figcaption {
    color: rgb(102, 102, 0);
}

hr + i {
    display: block;
    text-align: center;
}
