body {
    background-color: rgb(245, 189, 2);
    text-align: center;
    padding: 20px;
    /* Added padding */
}

h1 {
    color: rgb(55, 122, 148);
    font-size: 45px;
}

h2 {
    color: rgb(55, 122, 148);}

main {
    color: rgb(55, 122, 148);    font-size: 44px;
}

footer {
    color: rgb(55, 122, 148);
}