body {
    background-color: rgb(245, 189, 2);
    text-align: center;
    padding: 20px;
    /* Added padding */
}

h1 {
    color: rgb(19, 138, 102);
    font-size: 45px;
}

h2 {
    color: rgb(0, 0, 0);
}

main {
    color: rgb(0, 0, 0);
    font-size: 44px;
}

footer {
    color: rgb(0, 0, 0);
}