body {
    background-color: rgb(245, 189, 2);
    text-align: center;
    padding: 20px;
    /* Added padding */
}

h1 {
    color: rgb(55, 122, 148);
    font-size: 45px;
}

h2 {
    color: rgb(55, 122, 148);
}

main {
    color: rgb(55, 122, 148);
    font-size: 44px;
    text-align: left; /* Adjusted alignment to left */
}

footer {
    color: rgb(55, 122, 148);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin-right: 10px; /* Adjusted spacing */
}

nav ul li:first-child {
    margin-left: 10px; /* Added left margin to first link */
}


#introductionPage {
    background-color: rgb(245, 189, 2);
    padding: 20px; 
}

#introductionPage h1 {
    color: rgb(55, 122, 148);
    font-size: 45px;
    text-align: center; 
}

#introductionPage h2 {
    color: rgb(55, 122, 148);
}

#introductionPage main {
    color: rgb(55, 122, 148);
    font-size: 44px;
    text-align: left; /* Adjusted alignment to left */
}

#introductionPage footer {
    color: rgb(55, 122, 148);
}