body {
    background-color: rgb(245, 189, 2);
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(55, 122, 148);
    font-size: 44px;
}

h2 {
    color: rgb(55, 122, 148);
}

main {
    color: rgb(55, 122, 148);
    font-size: 32px;
    text-align: left;
}

footer {
    color: rgb(55, 122, 148);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; /* Centered with equal spacing */
    padding: 0;
}

nav ul li {
    margin-right: 30px; /* Increased spacing between navigation links */
}

nav ul li a {
    font-size: 30px; /* Increased font size for navigation links */
}

#introductionPage {
    background-color: rgb(245, 189, 2);
    padding: 10px; 
}

#introductionPage h1 {
    color: rgb(55, 122, 148);
    font-size: 45px;
    text-align: center; 
}

#introductionPage h2 {
    color: rgb(55, 122, 148);
}

#introductionPage main {
    color: rgb(55, 122, 148);
    font-size: 32px;
    text-align: left;
}

#introductionPage footer {
    color: rgb(55, 122, 148);
}

figcaption {
    color: rgb(55, 122, 148); /* Set font color of fig-caption to match main content */
}

hr + i {
    display: block;
    text-align: center;
}

