body {
  background-color: rgb(245, 189, 2);
  text-align: center;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 34px;
  font-size: 32px;
}

main {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

footer {
  color: rgb(0, 0, 0);
}
.goals {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
}
