body {
  background-color: rgb(70, 175, 216);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgba(255, 255, 255, 0.534);
}

h2 {
  color: rgba(255, 255, 255, 0.534);
}

main {
  color: rgba(255, 255, 255, 0.534);
}

footer {
  color: rgba(255, 255, 255, 0.534);
}
