body {
  background-color: rgb(70, 175, 216);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgba(0, 0, 0, 0.534);
  text-align: center;
}

h2 {
  color: rgba(0, 0, 0, 0.534);
  text-align: center;
}

main {
  color: rgba(0, 0, 0, 0.534);
}

footer {
  color: rgba(0, 0, 0, 0.534);
  text-align: center;
}
a {
  color: rgb(132, 25, 255);
  font-style: italic;
}
p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
}
.center {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
figure {
    border: 1px #cccccc solid;
    padding: 2px;
  }
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }