body {
  background-color: rgb(136, 62, 62); text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
}

main {
  color: azure;
}

footer {
  color: rgb(255, 255, 255);
}
p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
}